<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/editar.css">
    <link rel="stylesheet" href="css/blog.css">
</head>

<body>

    <header class="menu">
        <div class="nav_logox">
            <img src="img/logo.png" class="nav_logo">
            <h3 class="logo">
                YongSun
            </h3>
        </div>

    <section class="nav_link">
            <ul class="nav_a nav_a--menu">
                <li class="nav_lis">
                    <a href="/" class="nav_a">Inicio</a>
                </li>

                <li class="nav_lis">
                    <a href="" class="nav_a">Sobre mi</a>
                </li>

                <li class="nav_lis">
                    <a href="" class="nav_a">Contacto</a>
                </li>
                <li class="nav_lis">
                    <a href="" class="nav_a" id="editar">crear blogs</a>
                </li>

                <img src="img/close_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg" class="nav_salir">
            </ul>

            <div class="nav_img">
                <img src="img/menu_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg" width="40px" class="nav_menu">
            </div>
        </section>

    </header>

    <div class="banner"></div>

    <div class="blog">
        <h1 class="title"></h1>
        <p class="published"><span>published at - </span></p>
        <div class="article">
            
        </div>
    </div>

    <h1 class="sub-heading">Read more</h1>

    <!-- blog section -->
    <section class="blogs-section">
        <!-- <div class="blog-card">
            <img src="img/header.png" class="blog-image" alt="">
            <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
            <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
            <a href="/" class="btn dark">read</a>
        </div> -->
    </section>

    



    <script type="module" src="https://www.gstatic.com/firebasejs/12.3.0/firebase-app-compat.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/12.3.0/firebase-auth-compat.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/12.3.0/firebase-firestore-compat.js"></script>
    <script src="js/menu.js"></script>
    <script type="module" src="js/home.js"></script>
    <script type="module" src="js/blog.js"></script>
</body>

</html>